<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            Profile
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
         <div>
    <nav class="navbar navbar-expand-lg " style="background-color: #2F5233;">
    <div class="container-fluid">
        
            <a class="navbar-brand fw-bold text-white" href="{{ url_for('staff_dashboard') }}">TrekManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
                <a class="nav-link " href="{{url_for('staff_dashboard')}}">Dashboard</a>
                <a class="nav-link" href="{{url_for('my_trek')}}">My Treks</a>
                <a class="nav-link" href="{{url_for('staff_profile')}}">Profile</a>
                <a class="btn btn-warning " >Staff</a>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </div>
        </div>
    </div>
    </nav>
        
        </div>
        <h2 class="mt-4 mb-4 row justify-content-center">My Profile</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 border border-0">
            <div class="card p-4">
            
        <form method="POST" action="{{ url_for('staff_profile') }}">
      
        <div class="mb-3">
        <p>Full Name</p>
        <input class="form-control" type="text" name="name" value="{{ user.Username }}" aria-label="Disabled input example"  >
        </div>
        <div class="mb-3">
        <p>E-mail</p>
        <input class="form-control" type="text" value="{{user.Email }}" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="mb-3">
        <p>Contact</p>
        <input class="form-control" type="text" name="contact"  value="{{ user.Contact}}" aria-label="Disabled input example"  >
        </div>
        <button type="submit" class="btn btn-success ">Save Changes</button>
        </div>
        
        </form>
        </div>
        </div>
    </div>
    </body>
</html>