<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta viewport="1.0" content="width=device-width,initial-scale=1.0">
<meta name="description">
<title>
    Admin page
</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<body style="background-color:#F4FBFA">
    <div class="content">
        <nav class="navbar navbar-expand-lg " style="background-color: #2F5233;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid py-3 p-5">
            <form class="d-flex " role="search">
                <input class="form-control me-2 " style="width:600px;background-color:transparent;" type="search"
                    placeholder="Search" aria-label="Search" />
                <div></div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="row g-3 mb-4">
            <div class="col-sm-6 col-lg-3">
                <div class="card stat-card p-3">
                    <div class="stat-number">{{ total_treks }}</div>
                    <div class="stat-label">Total Treks</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card stat-card p-3">
                    <div class="stat-number"> {{ total_users }} </div>
                    <div class="stat-label">Total Trekkers</div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card stat-card p-3">
                    <div class="stat-number">{{ total_staff }}</div>
                    <div class="stat-label">Total Staff</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card stat-card p-3">
                    <div class="stat-number">{{ total_bookings }}</div>
                    <div class="stat-label">Total Bookings</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row g-4 mb-4 row-cols-2 row-cols-md-4 g-4 ms-2 ">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style=" color: black  ;background-color: #2F5233;">Quick Actions</div>
                    <div class="card-body">
                        <a href="{{url_for('add_trek')}}" class="btn btn-secondary "><i
                                class="bi bi-plus-circle me-1"></i>Add Treak</a>
                        <a href="#" class="btn btn-secondary "><i class="bi bi-hand-thumbs-up-fill"></i>Approve
                            Treak</a>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-map me-1"></i>Manage Treak</a>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-journal-check me-1"></i>View Bookings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card  ms-4 me-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><i class="bi bi-map me-2"></i>Recent Treks</span>
                <a href="#" class="btn btn-light btn-sm">View All</a>
            </div>
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Difficulty</th>
                        <th>Slots</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in recent_treks %}
                    <tr>
                        <td>#{{ t.id }}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.location}}</td>
                        <td>{{t.diffculty}}</td>
                        <td>{{t.status}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>