<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        Display Trek
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <div>
        <nav class="navbar navbar-expand-lg " style="background-color: #2F5233;">
            <div class="container-fluid">
                <h4 class="ms-2">TrekManager</h4>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link " href="{{url_for('admin')}}">Dashboard</a>
                        <a class="nav-link" href="{{url_for('user_management')}}">Users</a>
                        <a class="nav-link" href="{{url_for('trek')}}">Treks</a>
                        <a class="nav-link" href="{{url_for('staff_management')}}">Staffs</a>
                        <a class="nav-link" href="{{url_for('bookings')}}">Bookings</a>
                        <a class="btn btn-warning " >Admin</a>
                        <a class="nav-link " href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        
    </div>
        
        
        
        <div class="card mt-3" style="border-color: white;">
        <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h4 class="mb-0">
            <i class="bi bi-map"></i> Treks
        </h4>

        <a href="{{ url_for('add_trek') }}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add Trek
        </a>
        </div>
        <form method="GET" action="{{url_for('trek')}}" class="d-flex mb-3">
            <input type="type" class="form-control" name="search" placeholder="search by trek name or trek id" value="{{search or ''}}">
            <button type="submit" class="btn btn-outline-secondary">search</button>
        </form>
          <div class="row ">
            
        <div class="col-14">
            
        <table class="table table-hover mb-0 ">
            
      <thead class="table-dark"><tr><th>ID</th><th>Name</th><th>Location</th><th>Difficulty</th><th>Duration</th><th>Slots</th><th>Price</th><th>Staff</th><th>Status</th><th>Actions</th></tr></thead>
      <tbody>
        {% for t in trek %}
        <tr>
            <td>{{t.Trek_Id}}</td>
            <td>{{ t.Trek_Name }}</td>
            
            <td>{{t.Location}}</td>
            
            <td>{{t.Difficulty}}</td>
            <td>{{t.Duration}}</td>
            <td>{{t.Total_Slots}}</td>
            <td>{{t.Price}}</td>
            <td>{% if t.staff%}
                    {{t.staff.Username}}
                {%else%}
                    Unassigned
                {%endif%}
            </td>
            <td>{{t.Status}}</td>
            <td>
                <div class="d-flex">
                    <a href="{{url_for('add_trek',trek_id=t.Trek_Id)}}" class="btn btn-outline-secondary me-2"><i class="bi bi-pencil-square"></i></a>
                    <form action="{{ url_for('delete', trek_id=t.Trek_Id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-outline-secondary" onclick="return confirm('Delete this trek?');">
        <i class="bi bi-trash"></i>
    </button>
</form>
                </div>
            </td>
        </tr>
        {% endfor  %}
      </tbody>
        </table>
    </div>
        </div>
        </div>
    </div>
        
 
    
    </body>
</html>