<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        Update trek
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <body>
        <div class="card ">
            <div class="card-header">
                {%for i in trek%}
                <i class="bi bi-pencil"></i> Update Trek:{{i.name}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Available Slots</h5>
                <input class="form-control" type="number" name="available_slots"  placeholder="Default input" aria-label="default input example" value="{{t.Total_Slots}}">
                <h5 class="card-title">Trek Status</h5>
                <div class="input-group mb-3">
        <input type="text" class="form-control" name="status" aria-label="Text input with dropdown button">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value="{{t.Diffculty}}">Dropdown</button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Open</a></li>
            <li><a class="dropdown-item" href="#">Closed</a></li>
            <li><a class="dropdown-item" href="#">Completed</a></li>
        </ul>
        </div>
        <a href="#" class="btn btn-success"><i class="bi bi-box-arrow-down"></i>Save Changes</a>
        <a href="#" class="btn btn-secondary">Changes</a>
            </div>
    </body>
</html>