<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="header 	">
        <div style="background-color:#2d6a4f;padding-right:40px;" class="d-flex justify-content-between align-items-center p-1">
            User's Dashboard
            <button type="button" style=" color: black  ;background-color: #d5b1b162;float: right;border: none;margin-right: 3%;" class="btn btn-secondary">Logout</button>
        </div>
        
        </div>
    <h4 class="mb-4 mt-3"><i class="bi bi-clock-history"></i> My Bookings & Trekking History</h4>
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-12">


    <table class="table table-hover mb-0">
      <thead class="table-dark"><tr><th>ID</th><th>Trek</th><th>Location</th><th>Difficulty</th><th>Booked On</th><th>Staff</th><th>Trek Status</th><th>Booking Status</th><th>Action</th></tr></thead>
      <tbody>
        {% for t in book %}
        <tr>
            <td>{{ t.booking_id }}</td>
            <td>{{t.trek.Trek_Name}}</td>
            <td>{{t.trek.Location}}</td>
            <td>{{t.trek.Difficulty}}</td>
            <td>{{t.Booking_Date}}</td>
            <td>{{t.user.Username}}</td>
            <td>{{t.trek.Status}}</td>
            <td>{{t.Status}}</td>
            <td>
              {%if t.Status=="Booked"%}
              <a class="btn btn-danger" href="{{ url_for('cancel_booking', booking_id=t.booking_id) }} ">Cancel</a>
              {%else%}
              
              {%endif%}
            </td>
           
          
        </tr>
        {% endfor  %}
      </tbody>
        </table>
        </div>
        </div>
        </div>
</body>
</html>